/* Font importing. */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Avenixel';
  src: url('../fonts/avenixel/Avenixel-Regular.ttf');
}

@font-face {
  font-family: 'Pixelify';
  src: url('../fonts/pixelify-sans/PixelifySans-Regular.ttf');
}

@font-face {
  font-family: 'Unageo';
  src: url('../fonts/unageo/Unageo-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Unageo';
  src: url('../fonts/unageo/Unageo-Bold.ttf');
  font-weight: bold;
}

body.overlay-active {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
