@import url(slides.css);
@import url(themes.css);
@import url(responsivity.css);

:root {
    --navbar-height: 90px;
    --slideshow-height: 800px;
    --footer-height: 75px;
}

body {
    font-family: "Roboto";
    color: var(--text-primary);
}

a {
    &:link {
        color: var(--link-color);
    }
  
    &:visited {
        color: var(--link-visited-color);
    }
}

nav {
    --text-gap: 40px;
    display: inline;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: var(--navbar-height);
    padding: 0 var(--text-gap);
    background-color: var(--bg-navbar);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);

    h1 {
        float: left;
        line-height: var(--navbar-height);
        font-family: "Avenixel";
        font-size: 60px;
        font-weight: normal;
        color: #F1C232;
        text-wrap: nowrap;
    }

    ul {
        display: flex;
        height: 100%;
        padding: 0;
        align-items: center;
        justify-content: end;
        gap: var(--text-gap);
        list-style: none;

        li {

            a {
                cursor: pointer;
                text-decoration:none;
                font-size: 20px;
                font-weight: bold;
                color: #F1C232;
            }
        }
    }
}

.hero {
    display: flex;
    min-height: 579px;
    height: 100vh;
    padding-top: var(--navbar-height);
    /* Hero image with color overlay */
    background-image: 
    linear-gradient(
      var(--bg-section-1), 
      var(--bg-section-1)
    ),
    url("../images/hero.png");
    /* Hero image parallax. */
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;

    .text-and-character {
        display: flex;

        .text {
            text-align: right;
            line-height: 1.1;
            color: #F1C232;

            h2 {
                font-family: "Avenixel";
                font-size: 60px;
            }

            h3 {
                font-family: "Pixelify";
                font-size: 47px;
            }
        }

        .character {
            position: relative;
            top: -150px;
            left: calc(((100vw - 100%)/2)*.33);
            width: 0;
            height: 0;
            overflow: visible;

            img {
                max-width: initial;
            }
        }
    }
}

.border-overlay {
    --height: 50px;
    height: var(--height);
    margin-top: calc(-1 * (.9 * var(--height)));
    clip-path: polygon(0% 50%, 36% 0%, 36% 50%, 72% 0%, 72% 50%, 100% 0%, 100% 100%, 0% 100%);
}

h2.title {
    margin: 0 auto;
    width: max-content;
    padding-top: 75px;
    font-size: 30px;
    color: white;
}

.bg-color-2 {
    background-color: var(--bg-section-2);
}

.projects {
    width: 100%;
    padding-bottom: 60px;
    margin: 0 auto;
    background-color: var(--bg-section-2);

    .projects-grid {
        display: flex;
        width: 100%;
        max-width: 1420px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 auto;
        margin-top: 50px;

        .project {
            display: flex;
            width: 400px;
            font-size: 15px;
            color: white;
            flex-shrink: 0;
            flex-direction: column;
            
            h3 {
                font-size: 20px;
            }
            
            img {
                width: 400px;
                height: 300px;
                margin-bottom: 20px;
                border-radius: 15px;
                background-color: white;
                cursor: pointer;
                object-position: center;
                object-fit: cover;
                filter: drop-shadow(0 5px 7px #00000069);
            }

            .text {

                .links {
                    display: flex;
                    justify-content: space-between;
                }

                .description {
                    line-height: 1.5;
                    max-height: calc(5*1.5em);
                    margin-top: 5px;
                    overflow: hidden;
                    flex-grow: 1;
                    text-align: center;
                }
            }
        }
}
}

.about {
    display: none;
    width: 100%;
    height: 420px;
    background-color: var(--bg-section-3);
    margin: 0 auto;

    .about-wrapper {
        /* Flex Center */
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .about-img {
        position: relative;
        left: -100px;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        object-fit: cover;
    }

    .about-text {
        width: 1000px;
        font-size: 20px;
        color: white;
    }
}

.contact {
    display: none;
    width: 100%;
    height: 725px;
    background-color: var(--bg-section-4);
    overflow: hidden;

    .contact-title {
    margin-bottom: 25px;
    }

    .forms-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin-top: 40px;
    }

    .form-name {
        margin-top: 22px;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
        color: white;
    }

    .form input {
        width: 567px;
        height: 53px;
        background: none;
        border: 3px solid white;
        color: white;
    }

    .form .contact-comment {
        height: 200px;
    }

    .submit-button {
        width: 237px;
        height: 53px;
        margin-top: 45px;
        background: none;
        border: white solid;
        border-radius: 27px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        color: white;
        cursor: pointer;
    }

    /* Change button color on hover and on click. */
    .submit-button:hover {
        background-color: #4c2655;
    }

    .submit-button:active {
        background-color: #9048a1;
    }
}

footer {
    height: var(--footer-height);
    background-color: var(--bg-footer);

    .connections {
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;

        .connect-button {
            display: inline-block;
            aspect-ratio: 50/20;
            width: 125px;
            padding: 10px;
            background-color: white;
            border: lightgray solid;
            border-radius: 50px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 2px;
            color: white;
            cursor: pointer;

            img {
                height: 100%;
            }
        }
    }
}