:root[data-theme="dark"] {
    --text-primary: #F5F2F7;
    --link-color: #52c5c2;
    --link-visited-color: #b19cd9;
    --bg-navbar: #1a1221;
    --bg-section-1: #2b1b35BF;
    --bg-section-2: #211428;
    --bg-section-3: #2d1a37;
    --bg-section-4: #1e1125;
    --bg-footer: #150a1b;
    --accent-gold: #c5a14c;
    --bg-hover: #5b367c;
    --bg-active: #8b56bd;
}

